@page "/"

<PageTitle>Home</PageTitle>

<h1>Countries App</h1>

<h2>Welcome to Countries App!</h2>

<p>You will find a navigation menu on your left :</p>

<p>"Home" allows you to return to this homepage.</p>
<p>"Countries" gives you access to a page containing a list of countries from around the world. You can view details of each country by clicking on its name and start a search using the search bar. You also have the option to add countries to your favorites.</p>
<p>"Favorites" takes you to a page displaying all the countries you have saved to your favorites so you can view their information. You also have the option to remove them from your list.</p>

<p>Enjoy!</p>

<script src="js/localStorage.js"></script>